.card{
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 300px;
}
.form-group{
    text-align: center;
}

.inputField{
    font-size: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
  }